<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201665160506-iildl5vkf4he2v6jrhm35bdk79fg6809.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201665160506-iildl5vkf4he2v6jrhm35bdk79fg6809</string>
	<key>API_KEY</key>
	<string>AIzaSyAFcilga-z2DmmjIHnLx2X_CoRGqcN6BQY</string>
	<key>GCM_SENDER_ID</key>
	<string>201665160506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sseung.noommate</string>
	<key>PROJECT_ID</key>
	<string>noommate-77efd</string>
	<key>STORAGE_BUCKET</key>
	<string>noommate-77efd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201665160506:ios:399d4dd3800ac9dda21c03</string>
</dict>
</plist>